
.button {
  min-width: 80px;
  max-width: auto;
}
.remove-border{
  border-radius: unset !important;
}
.jumbotron{
  padding: unset !important;
  height: 100vh;
  
}
.font-size-12{
  font-size: small;
}
.bold{
  font-weight: bold;
}

.background-status{
  text-align: center;
  border: 0;
  border-radius: 1rem;
  background-color: #e9ecef;
}

.input-group-text{
  border-radius: unset !important;
  background-color: unset !important;
  border: unset !important;
}


